html {
    font-family: 'Raleway', sans-serif;
}

body {
    background-color: #0b131e;
    color: white;
    padding: 40px;
}
.today{
    margin-top: 80px;
}
.title{
    margin-left: 180px;
    display: flex;
    align-items: center;
}
.search-input{
    margin-left: 840px;
}
.search-input input{
    height: 45px;
    width: 300px;
    color: white;
    background-color:#202b3b;
    border: 1px solid #202b3b;
    border-radius: 17px;
    padding-left: 30px;
}
button{
    width: 45px;
    height: 45px;
    margin-left: 25px;
    background-color: #202b3b;
    border: 1px solid #202b3b;
    border-radius: 100%;
}
button:hover{
    cursor: pointer;
}
button img{
    width: 18px;
}
.title h2{
    font-size: 50px;
    margin-bottom: 10px;
}
.title p {
    font-size: 25px;
    margin-top: 0px;
}


.todayInfo {
    display: flex;
    justify-content: space-evenly;
    gap: 150px
}

.todayMain{
    margin-left: 70px;
}
.todayMainInfo img{
    width: 300px;
}
.todayMainInfo {
    display: flex;
    gap: 50px;
    align-items: center;
}
.todayMainInfo h2 {
    font-size: 150px;
    margin-bottom: 0px;
    margin-top: 35px;
}
.todayMainInfo p {
    margin-top: 0px;
    font-size: 30px;
}


.todayMoreInfo{
    background-color: #202b3b;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    padding: 40px 110px;
    padding-right: 20px;
    border-radius: 30px;
    margin-right: 65px;
}
.todayMoreInfo h3{
    font-size: 30px;
    margin-bottom: 10px;
}
.todayMoreInfo p {
    font-size: 22px;
    color: lightgrey;
    margin-top: 0px;
    margin-bottom: 25px;
}
.todayMoreInfo div:not(:last-child){
    border-right: 1px solid lightgray;
    padding-right: 60px;
}
.todayMoreInfo div:nth-child(1){
    width: 50px;
    padding-right: 80px;
}
.todayMoreInfo div:nth-child(2) {
    width: 50px;
    padding-left: 10px;
    padding-right: 90px;
}
.todayMoreInfo div:nth-child(3) {
    width: 50px;
    padding-left: 20px;
    padding-right: 100px;
}





